.address {
    width: 231px;

    &__box {
        font-style: normal;
    }
    
    &__physical {
        display: inline-block;
        color: $whiteText;
        margin: 0 0 9px;
    }
    
    &__list {
        @extend %list;
    }
    
    &__item:first-child {
            margin-bottom: 9px;
    }    
    
    
    &__link {
        color: $greyTextFooter;    
        text-decoration: none;
        
        transition: color 250ms $cubic;
    
        &:hover, &:focus {
            color: $blue;
        }
    }
    
}
