.social-join {
    margin-left: 70px;
    width: 206px;

    &__title {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: $whiteText;
        margin: 0 0 20px;
    }
    
    &__list {
        @extend %list;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    
    &__item {
        padding: 0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $greyIconFooter;
    
        transition: background-color 250ms $cubic;
    
        &:hover, &:focus {
            background-color: $blue;
        }
    }
    
    &__link {
        display: block;
        width: 44px;
        height: 44px;
        text-decoration: none;
        padding: 12px 12px 6px 12px;
        border-radius: 50%;
    }
    
    &__icon {
        fill: $whiteText;
    }
}

