.team {
    padding: 94px 0 94px;
    background-color: $greyBcg;

    &__container {
        @extend %container;
    }
    
    &__title {
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: $blackText;
        margin: 0px 0px 50px;
    }
    
    &__list {
        @extend %list;
        display: flex;
        justify-content: space-between;
    }
    
    &__item {
        text-align: center;
        background: $whiteText;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    
    &__img {
        display: block;
    }
    
    &__box-content {
        padding: 30px 32px;
    }
    
    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        color: $blackText;
        margin: 0 0 10px;
    }
    
    &__position {
        font-size: 16px;
        line-height: 1.19;
        margin: 0 0 16px;
    }
    
    &__social-list {
        @extend %list;
        @extend %flex;
        justify-content: space-between;
    }
    
    &__social-item {
        padding: 0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: $svgGrey;
    
        transition: color 250ms $cubic,
        background-color 250ms $cubic;
    
        &:hover, &:focus {        
            background-color: $blue;
            color: $whiteText;
        }
    }
    
    &__social-links {
        display: block;
        width: 44px;
        height: 44px;
        text-decoration: none;
        color: currentColor;
        padding: 12px 12px 6px 12px;
        border-radius: 50%;
    }
    
    &__social-icon {
        fill: currentColor;
    }
}

